/* Parallax effect - font https://keithclark.co.uk/articles/pure-css-parallax-websites/ */

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
}

.parallax__group {
  height: 100vh;
  position: relative;
  transform-style: preserve-3d;
}

/* Configurado para não ter altura fixa */
.parallax__group--details,
.parallax__group--sitemap {
  height: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Ajustado para exibir todo o conteúdo */
.parallax__layer--details {
  position: static;
}

.parallax__layer--back {
  background-image: url("../images/banner-02.png");
  background-position-x: -25vw;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateZ(-1px) scale(2.05);
  margin: 0px;
}

.parallax__layer--base {
  padding: 24px 0;
  transform: translateZ(0);
}

.parallax__layer--base--solid {
  background-color: #fff;
  box-shadow: 0 8px 16px 16px rgba(0, 0, 0, 0.25);
}

.color-layer {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(66, 47, 107, 0.8) 0%,
    rgba(68, 140, 170, 0.75) 100%
  );
}

.custom-container--flex {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  line-height: 1.25;
}

.custom-container--details {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.title-main {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  color: #fff;
  text-align: center;
}

.subtitle-main {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 40px 0;
  color: #fff;
  text-align: center;
}

.call-to-action {
  display: flex;
  padding: 12px 20px;
  margin-top: 16px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  color: #422f6b;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  transition: all 0.4s;
}

.call-to-action:hover {
  background: rgba(255, 255, 255, 1);
}

.call-to-action--main {
  align-self: center;
}

.call-to-action--details {
  margin: 16px 0;
  border: 1px solid #422f6b;
  align-self: center;
}

.box--call-to-action {
  width: 100%;
}

.details-subsection {
  display: flex;
  flex-direction: column;
}

hr {
  width: 100%;
  margin: 40px 16%;
  border-top: 0.5px solid #422f6b33;
}

.title-details {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: rgb(68, 140, 170);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.subtitle-details {
  color: #3b3b3b;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin: 16px 0;
  text-align: center;
}

.content-details {
  color: #3b3b3b;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 32px;
  text-align: center;
}

.image-details {
  width: 80%;
  height: auto;
  display: flex;
  margin: 0 auto;
}

.content--call-to-action {
  color: #3b3b3b;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  line-height: 30px;
  text-align: center;
  width: 80%;
  margin: 16px auto;
}

@media (min-width: 992px) {
  .box {
    width: 50%;
    padding: 48px;
  }

  .details-subsection {
    flex-direction: row;
  }

  .call-to-action--main,
  .call-to-action--details {
    align-self: flex-start;
  }

  .title-main,
  .subtitle-main,
  .title-details,
  .subtitle-details,
  .content-details {
    text-align: left;
  }

  .title-main {
    font-size: 48px;
  }

  .subtitle-main {
    font-size: 20px;
  }

  .title-details {
    font-size: 20px;
  }

  .subtitle-details {
    font-size: 40px;
  }

  .content-details {
    font-size: 20px;
  }

  hr {
    margin: 0px 16%;
  }

  .image-details {
    width: 50%;
    padding: 0 16px;
    margin: auto;
  }
  
}