.breadcrumb {
  margin: 32px auto;
  color: #422f6b;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

.breadcrumb__icon {
  margin: 0 8px;
}

.showcase {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 33vh;
}

.showcase__categories-info {
  margin-bottom: 24px;
}

.showcase__categories-info--sm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #422f6b33;
}

.show-subcategories {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  padding: 8px 12px;
  margin-top: 16px;
  border-radius: 100px;
  border: 1px solid #422f6b;
  color: #422f6b;
  cursor: pointer;
}

.showcase__subcategories {
  display: none;
  position: sticky;
  top: 12px;
  min-width: 224px;
  width: 20%;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  margin: 0 24px auto 0;
  padding: 12px 24px;
  background-color: #f4f4f4;
}

.showcase__subcategories ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.showcase__subcategories li {
  padding: 8px 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #422f6b;
}

.showcase__products {
  width: 100%;
}

.showcase__product-list {
  display: flex;
  flex-wrap: wrap;
}

.showcase__title {
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #422f6b;
}

.showcase__qtd {
  margin: 4px 0;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #422f6b;
}


@media (min-width: 576px) {
  .showcase__categories-info--sm {
    flex-direction: row;
  }

  .show-subcategories {
    margin-top: 0;
  }

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

  .showcase__categories-info--sm {
    display: none;
  }  

  .showcase__subcategories {
    display: block;
  }
}
