.showcase {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 33vh;
}

.showcase__categories-info {
  margin-bottom: 24px;
}

.showcase__categories-info--sm {
  padding-bottom: 16px;
  border-bottom: 1px solid #422f6b33;
}

.showcase__products {
  width: 100%;
}

.showcase__product-list {
  display: flex;
  flex-wrap: wrap;
}

.showcase__title {
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #422f6b;
}

.showcase__qtd {
  margin: 4px 0;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #422f6b;
}

.main-category-text {
  font-size: 20px;
  font-weight: 100;
}