/*---------- CUSTOM HEADER CONTAINER (MODIFIERS) ----------*/

.container--topbar,
.container--main-header,
.container--sub-header {
  display: flex;
  align-items: center;
}

.container--main-header {
  justify-content: space-between;
  height: 100%;
}

.container--sub-header {
  justify-content: center;
  height: 100%;
}

/*---------- HEADER -----------*/

header {
  box-shadow: 0px 4px 4px #00000033;
  position: relative;
  z-index: 2;
}

header ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

header li {
  display: flex;
  align-items: center;
}

/*---------- TOPBAR ----------*/

.topbar {
  display: none;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.topbar__item {
  display: flex;
  align-items: center;
}

.vertical-line {
  height: 24px;
  border-left: 0.75px solid #000;
  margin: 0px 16px;
}

.topbar__info {
  margin-left: 8px;
}

.topbar__icon {
  font-size: 20px;
}

.topbar__info-pop {
  position: absolute;
  top: 44px;
  left: calc(50% - 570px + 33.66px + 15px + 8px);
  max-height: 0;
  border: 0px solid #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px #0000001f;
  background-color: #fff;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.topbar__item:hover .topbar__info-pop {
  max-height: 100px;
  border: 1px solid #422f6b66;
}

.info-pop__content {
  padding: 16px;
  text-align: center;
}

.info-pop__content-title {
  font-weight: bold;
  margin-bottom: 8px;
}

/*---------- MAIN - HEADER ----------*/

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  color: #422f6b;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  background-color: #fff;
}

.main-header__options {
  display: none;
}

.main-header__options li {
  margin-left: 40px;
  text-transform: uppercase;
}

.main-header__login {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.login__icon {
  font-size: 32px;
  margin-right: 8px;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 28px;
}

.header__logo {
  height: 40px;
}

.normal-text {
  text-transform: none;
}

.uppercase-text {
  text-transform: uppercase;
}

.main-header__signed-user {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.user-logout {
  font-weight: bold;
  color: #d73a49;
  text-align: right;
  cursor: pointer;
}

.signed-user__vertical-line {
  height: 40px;
  border-left: 0.75px solid #422f6b;
  margin: 0px 12px;
}

.signed-user__cart {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.cart-icon {
  font-size: 28px;
}

.cart-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 0.75px solid #422f6b;
  border-radius: 50%;
  margin: 0 8px 0 -8px;
}

/*---------- MAIN-HEADER - SIDENAV ----------*/

/* The side navigation menu */
#sidenav {
  background-color: #fff;
  display: inline-block;
  position: fixed;
  height: 100vh;
  width: 316px;
  left: -316px;
  transition: transform 0.3s;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #422f6b;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 5;
}

/* //When sidenav is open:
  //a. Create a transparent overlay over the content  */
.sidenav-active #cover {
  background-color: #0000004d;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 4;
  transition: background-color 0.4s, transform 0.4s;
}

#sidenav,
#cover {
  transition: transform 0.4s;
}

.sidenav-active #sidenav,
.sidenav-active #cover {
  transform: translateX(316px);
}

.noscroll {
  position: relative;
  overflow: hidden;
}

.sidenav__header {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  align-items: center;
  padding: 0 24px;
  height: 80px;
  width: 100%;
  box-shadow: 0px 4px 4px #0000001a;
}

.sidenav__header-login {
  display: flex;
  align-items: center;
}

.sidenav__item {
  width: 100%;
  border-top: 0.75px solid #422f6b33;
  overflow: hidden;
}

.sidenav__icon {
  margin-right: 12px;
  font-size: 12px;
}

/*---------- SIDENAV - Accordion ----------*/

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab-label {
  display: flex;
  padding: 0 24px;
  align-items: center;
  height: 48px;
  cursor: pointer;
}

.tab-label--link {
  display: flex;
  padding: 0 24px;
  align-items: center;
  height: 48px;
  cursor: pointer;
}

.tab-label::after {
  content: "\276F";
  font-weight: normal;
  text-align: center;
  transition: all 0.4s;
  margin-left: auto;
}

.tab-content {
  max-height: 0;
  transition: all 0.4s;
}

.tab-content a {
  display: flex;
  padding: 8px 24px;
  width: 100%;
  border-top: 0.75px solid #422f6b1a;
  background-color: #00000008;
}

.seeAll-link::after {
  content: "\276D\276D";
  font-weight: normal;
  text-align: center;
  transition: all 0.4s;
  margin-left: auto;
}

input:checked + .tab-label {
  font-weight: bold;
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
}

/*---------- SUB-HEADER ----------*/

.sub-header {
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
  color: #422f6b;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  background-color: #fff;
}

.sub-header__categories {
  display: none;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #422f6b33;
  padding: 0 16px;
  width: 80%;
  height: 40px;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.search form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search input {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

.search-icon {
  font-size: 16px;
  margin-left: 8px;
}

/*---------- DROPDOWN ----------*/

/* Dropdown button */
.dropdowwn__toggle {
  display: flex;
  align-items: center;
  padding: 0 24px;
  height: 64px;
  text-align: center;
  line-height: 1.25;
}

/* Add background color and shadow to navbar links on hover */
.dropdown:hover .dropdowwn__toggle {
  box-shadow: inset 0px 4px 4px #0000001f;
  background-color: #00000008;
}

/* Dropdown content (hidden by default) */
.dropdown__content {
  min-width: 240px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px #00000033;
  z-index: 3;
  max-height: 0;
  transition: none;
  overflow: hidden;
}

/* Links inside the dropdown */
.dropdown__content a {
  float: none;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown__content a:hover {
  background-color: #00000008;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown__content {
  max-height: 1000px;
  transition: max-height 0.8s;
}

/*---------- MEDIA QUERIES ----------*/

/* @media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
} */

@media (min-width: 768px) {
  /* .container {
      max-width: 720px;
    } */
}

@media (min-width: 992px) {
  /* .container {
      max-width: 960px;
    } */

  /*---------- CONTAINERS ----------*/

  .container {
    max-width: 100%;
  }

  .container--main-header {
    border-bottom: 0.75px solid #422f6b33;
  }

  /*---------- HEADER ----------*/

  .topbar {
    display: flex;
  }

  .main-header {
    height: 96px;
  }

  .main-header__options {
    display: flex;
  }

  .icon-box {
    display: none;
  }

  .header__logo {
    height: 64px;
  }

  .sub-header {
    height: 64px;
  }

  .container--sub-header {
    justify-content: space-between;
  }

  .sub-header__categories {
    display: flex;
  }

  .search {
    max-width: 240px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}