/* GENERAL */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

/* CONTAINERS */

.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.container--topbar,
.container--main-header,
.container--sub-header {
  display: flex;
  align-items: center;
}

.container--main-header {
  justify-content: space-between;
  height: 100%;
}

.container--sub-header {
  justify-content: center;
  height: 100%;
}

.container--section {
  margin: 32px auto 32px auto;
}

.container--banner {
  padding: 0;
}

.custom-icon {
  height: 21px;
  width: 21px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.custom-icon--facebook {
  background-image: url("../images/icon-facebook.jpg");
}

.custom-icon--instagram {
  background-image: url("../images/icon-instagram.png");
}

.custom-icon--whatsapp {
  background-image: url("../images/icon-whatsapp.png");
}

.custom-icon--google-maps {
  background-image: url("../images/icon-googlemaps.png");
}

/*---------- HEADER -----------*/

header {
  box-shadow: 0px 4px 4px #00000033;
  position: relative;
  z-index: 2;
}

header ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

header li {
  display: flex;
  align-items: center;
}

/*---------- TOPBAR ----------*/

.topbar {
  display: none;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.topbar__item {
  display: flex;
  align-items: center;
}

.vertical-line {
  height: 24px;
  border-left: 0.75px solid #000;
  margin: 0px 16px;
}

.topbar__info {
  margin-left: 8px;
}

.topbar__icon {
  font-size: 20px;
}

.topbar__info-pop {
  position: absolute;
  top: 44px;
  left: calc(50% - 570px + 33.66px + 15px + 8px);
  max-height: 0;
  border: 0px solid #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px #0000001f;
  background-color: #fff;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.topbar__item:hover .topbar__info-pop {
  max-height: 100px;
  border: 1px solid #422f6b66;
}

.info-pop__content {
  padding: 16px;
  text-align: center;
}

.info-pop__content-title {
  font-weight: bold;
  margin-bottom: 8px;
}

/*---------- MAIN - HEADER ----------*/

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  color: #422f6b;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  background-color: #fff;
}

.main-header__options {
  display: none;
}

.main-header__options li {
  margin-left: 40px;
  text-transform: uppercase;
}

.main-header__login {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.login__icon {
  font-size: 32px;
  margin-right: 8px;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 28px;
}

.header__logo {
  height: 40px;
}

.normal-text {
  text-transform: none;
}

.uppercase-text {
  text-transform: uppercase;
}

.main-header__signed-user {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.user-logout {
  font-weight: bold;
  color: #d73a49;
  text-align: right;
  cursor: pointer;
}

.signed-user__vertical-line {
  height: 40px;
  border-left: 0.75px solid #422f6b;
  margin: 0px 12px;
}

.signed-user__cart {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.cart-icon {
  font-size: 28px;
}

.cart-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 0.75px solid #422f6b;
  border-radius: 50%;
  margin: 0 8px 0 -8px;
}

/*---------- MAIN-HEADER - SIDENAV ----------*/

/* The side navigation menu */
#sidenav {
  background-color: #fff;
  display: inline-block;
  position: fixed;
  height: 100vh;
  width: 316px;
  left: -316px;
  transition: transform 0.3s;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #422f6b;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 5;
}

/* //When sidenav is open:
//a. Create a transparent overlay over the content  */
.sidenav-active #cover {
  background-color: #0000004d;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 4;
  transition: background-color 0.4s, transform 0.4s;
}

#sidenav,
#cover {
  transition: transform 0.4s;
}

.sidenav-active #sidenav,
.sidenav-active #cover {
  transform: translateX(316px);
}

.noscroll {
  position: relative;
  overflow: hidden;
}

.sidenav__header {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  align-items: center;
  padding: 0 24px;
  height: 80px;
  width: 100%;
  box-shadow: 0px 4px 4px #0000001a;
}

.sidenav__header-login {
  display: flex;
  align-items: center;
}

.sidenav__item {
  width: 100%;
  border-top: 0.75px solid #422f6b33;
  overflow: hidden;
}

.sidenav__icon {
  margin-right: 12px;
  font-size: 12px;
}

/*---------- SIDENAV - Accordion ----------*/

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab-label {
  display: flex;
  padding: 0 24px;
  align-items: center;
  height: 48px;
  cursor: pointer;
}

.tab-label--link {
  display: flex;
  padding: 0 24px;
  align-items: center;
  height: 48px;
  cursor: pointer;
}

.tab-label::after {
  content: "\276F";
  font-weight: normal;
  text-align: center;
  transition: all 0.4s;
  margin-left: auto;
}

.tab-content {
  max-height: 0;
  transition: all 0.4s;
}

.tab-content a {
  display: flex;
  padding: 8px 24px;
  width: 100%;
  border-top: 0.75px solid #422f6b1a;
  background-color: #00000008;
}

.seeAll-link::after {
  content: "\276D\276D";
  font-weight: normal;
  text-align: center;
  transition: all 0.4s;
  margin-left: auto;
}

input:checked + .tab-label {
  font-weight: bold;
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
}

/*---------- SUB-HEADER ----------*/

.sub-header {
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
  color: #422f6b;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  background-color: #fff;
}

.sub-header__categories {
  display: none;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #422f6b33;
  padding: 0 16px;
  width: 80%;
  height: 40px;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.search form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search input {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

.search-icon {
  font-size: 16px;
  margin-left: 8px;
}

/*---------- DROPDOWN ----------*/

/* Dropdown button */
.dropdowwn__toggle {
  display: flex;
  align-items: center;
  padding: 0 24px;
  height: 64px;
}

/* Add background color and shadow to navbar links on hover */
.dropdown:hover .dropdowwn__toggle {
  box-shadow: inset 0px 4px 4px #0000001f;
  background-color: #00000008;
}

/* Dropdown content (hidden by default) */
.dropdown__content {
  min-width: 240px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px #00000033;
  z-index: 3;
  max-height: 0;
  transition: none;
  overflow: hidden;
}

/* Links inside the dropdown */
.dropdown__content a {
  float: none;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown__content a:hover {
  background-color: #00000008;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown__content {
  max-height: 1000px;
  transition: max-height 0.8s;
}

/*---------- CAROUSEL ----------*/

/* The carousel styling has its own file - carousel.css */

/*---------- MINI-BANNERS ----------*/

.mini-banners {
  width: 100%;
}

.mini-banners--top {
  display: none;
  border-bottom: 0.75px solid #422f6b33;
}

.mini-banners--bottom {
  display: block;
  border-top: 0.75px solid #422f6b33;
}

.container--mini-banners {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 16px 0;
}

.horizontal-divider {
  margin: 12px auto;
  width: 66%;
  border-bottom: 0.75px solid #422f6b33;
}

.vertical-divider {
  display: none;
  height: 64px;
  border-right: 0.75px solid #422f6b33;
}

.mini-banner-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  text-align: center;
  color: #422f6b;
}

.mini-banner-item-icon {
  margin-bottom: 8px;
  font-size: 32px;
}

.mini-banner-item-info {
  max-width: 66%;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

/*---------- PRODUCT LIST ----------*/

.section-heading {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.product-list__title {
  margin: 0 16px;
  width: 100%;
  max-width: 240px;
  color: #422f6b;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  text-align: center;
}

.title-line {
  width: 100%;
  border-bottom: 0.75px solid #422f6b33;
}

.product-list {
  display: flex;
  padding: 0 0 12px 0;
  justify-content: space-between;
  width: 100%;
  overflow-x: auto;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 168px;
  max-width: 168px;
  padding: 8px;
  margin-right: 12px;
  border: 1px solid #422f6b66;
  border-radius: 8px;
  box-shadow: 0 0 2px 2px #0000001a;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

.product-card:last-child {
  margin-right: 0;
}

.product-card__image {
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
  margin-bottom: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.product-card__divider {
  width: 80%;
  border-bottom: 0.75px solid #422f6b1a;
  margin: 4px 0;
}

.product-card__name {
  height: 40px;
  margin: 4px 0;
  font-size: 14px;
  color: #000000bf;
  text-align: center;
  overflow: hidden;
}

.product-card__price {
  margin: 4px 0;
  font-size: 18px;
  font-weight: bold;
  color: #422f6b;
}

.product-card__add-form {
  display: flex;
  width: 100%;
  height: 32px;
  align-items: center;
  justify-content: space-around;
  margin-top: 8px;
  font-size: 16px;
}

.product-card__add-form input {
  width: 100%;
  height: 100%;
  padding: 4px;
  margin: 0 4px 0 0;
  font-size: 16px;
  min-width: 0;
}

.product-card__add-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 8px;
  height: 100%;
  border-radius: 4px;
  color: #fff;
  background-color: #422f6b;
  font-size: 14px;
  text-transform: uppercase;
}

.add-icon {
  margin-right: 4px;
}

.category-see-all {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.see-all-button {
  padding: 8px 16px;
  background-color: #fff;
  border: 1px solid #422f6b;
  border-radius: 4px;
  color: #422f6b;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  transition: all 0.2s;
}

.see-all-button:hover {
  color: #fff;
  background-color: #422f6b;
}

/*---------- VISIT ----------*/

.visit-background {
  background: url("../images/banner-02.png");
  background-size: cover;
  background-position: center;
}

.color-layer {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(66, 47, 107, 0.8) 0%,
    rgba(68, 140, 170, 0.75) 100%
  );
}

.container--visit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.visit-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.title-line--visit {
  display: none;
  width: 50%;
  border-bottom: 0.75px solid #fff;
}

.visit-title {
  margin: 0 12px;
  width: 100%;
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.visit__content-box {
  width: 80%;
  margin-bottom: 32px;
  text-align: center;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
}

.visit__content-box-heading {
  margin-bottom: 8px;
  color: #fff;
  font-weight: bold;
}

.visit__content-box:nth-child(3),
.visit__content-box:nth-child(4) {
  font-size: 18px;
}

.map-link {
  display: flex;
  padding: 12px 20px;
  margin-top: 16px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  color: #422f6b;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  transition: all 0.4s;
}

.map-link:hover {
  background: rgba(255, 255, 255, 1);
}

.map-link__text {
  margin-left: 8px;
}

/* ---------- SITEMAP ----------*/

.sitemap {
  width: 100%;
  padding: 32px 0 0 0;
  background-color: #f6f6f6;
}

.container--sitemap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sitemap-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000;
  margin-bottom: 32px;
  text-align: center;
}

/* .sitemap-group:last-child {
  margin-bottom: 0;
} */

.sitemap-group__title {
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.sitemap-group ul {
  margin: 0;
  padding: 0;
}

.sitemap-group li {
  display: block;
  margin-bottom: 12px;
}

.contact-channel {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.contact-channel__icon {
  font-size: 20px;
  margin: 0 12px 0 0;
}

.sitemap-group--brand-info {
  padding: 16px 0;
  border-top: 0.75px solid #422f6b33;
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin-bottom: 0;
  line-height: 1.75;
}

.text-separator {
  display: none;
}

.container--custom-signature {
  display: block;
  width: 100%;
  background-color: #3b3b3b;
}

.custom-signature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.75;
  text-align: center;
  padding: 8px 0;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #fff;
}

.custom-signature--font {
  font-weight: bold;
}
/*---------- MEDIA QUERIES ----------*/

/* @media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
} */

@media (min-width: 768px) {
  /* .container {
    max-width: 720px;
  } */
}

@media (min-width: 992px) {
  /* .container {
    max-width: 960px;
  } */

/*---------- CONTAINERS ----------*/

  .container {
    max-width: 100%;
  }

  .container--main-header {
    border-bottom: 0.75px solid #422f6b33;
  }

  .container--section {
    margin: 64px auto 64px auto;
  }

/*---------- HEADER ----------*/

  .topbar {
    display: flex;
  }

  .main-header {
    height: 96px;
  }

  .main-header__options {
    display: flex;
  }

  .icon-box {
    display: none;
  }

  .header__logo {
    height: 64px;
  }

  .sub-header {
    height: 64px;
  }

  .container--sub-header {
    justify-content: space-between;
  }

  .sub-header__categories {
    display: flex;
  }

  .search {
    max-width: 240px;
  }

  /*---------- MINI-BANNERS ----------*/

  .mini-banners--top {
    display: block;
    margin-bottom: 64px;
  }

  .mini-banners--bottom {
    display: none;
  }
  
  .container--mini-banners {
    flex-direction: row;
    justify-content: space-around;
  }

  .horizontal-divider {
    display: none;
  }

  .vertical-divider {
    display: flex;
  }
  
  .mini-banner-item {
    flex-direction: row;
    width: 100%;
    text-align: left;
  }
  
  .mini-banner-item-icon {
    margin-right: 16px;
    margin-bottom: 0;
  }
  
  .mini-banner-item-info {
    width: 100%;
  }

/*---------- PRODUCT LIST ----------*/

  .section-heading {
    margin-bottom: 24px;
  }

  .product-list__title {
    font-size: 24px;
  }

  .product-card {
    min-width: 200px;
    max-width: 200px;
    margin-right: 20px;
    border: 1px solid #fff;
    box-shadow: none;
    transition: all 0.2s ease-in-out;
  }

  .product-card:hover {
    border: 1px solid #422f6b1f;
    box-shadow: 0px 2px 0px 2px #0000001d;
  }

  .product-card__image {
    height: 120px;
  }

  .product-card__name {
    font-size: 16px;
  }

  .product-card__price {
    font-size: 20px;
  }

  .product-card__add-form {
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  .product-card:hover .product-card__add-form {
    opacity: 1;
  }

  .product-card__add-button {
    padding: 0 12px;
  }

  .add-icon {
    margin-right: 12px;
  }

  .category-see-all {
    display: flex;
    justify-content: center;
    margin-top: 12px;
  }

  .see-all-button {
    font-size: 18px;
  }

  /*---------- VISIT ----------*/

  .container--visit {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .title-line--visit {
    display: flex;
  }
  
  .visit__content-box {
    width: 66%;
  }
  
  /*---------- SITE MAP ----------*/

  .container--sitemap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .sitemap-group {
    display: block;
    margin-bottom: 0;
    text-align: left;
  }
  
  .sitemap-group--brand-info {
    margin-top: 32px;
    text-align: center;
    line-height: 1.5;
  }

  .text-separator {
    display: inline;
  }

  .custom-signature {
    display: block;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
