.order__title {
  width: 100%;
  margin-top: 32px;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #422f6b;
  text-align: center;
  line-height: 1.5;
}

.order__notice-1 {
  margin: 32px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #422f6b;
  text-align: center;
  line-height: 1.5;
}

.order__notice-2 {
  margin-bottom: 24px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #422f6b;
  text-align: center;
  line-height: 1.5;
}

.order__register-time {
  margin-bottom: 24px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #422f6b;
  text-align: center;
}

.order__customer-title {
  width: 100%;
  margin-bottom: 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #422f6b;
}

.customer-container {
  flex-direction: column;
  width: 100%;
  margin: 40px 0;
}

.customer__info {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #00000033;
  border-radius: 8px;
  padding: 8px; */
}

.customer-box {
  width: 100%
}

.customer-info__title {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.customer-info__text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}

.customer-info__text--address {
  margin-bottom: 8px;
}

.address--custom {
  display: inline;
  margin-right: 32px;
}

.address--custom:last-of-type {
  margin-right: 0;
}

.order__itens-title {
  width: 100%;
  margin-bottom: 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #422f6b;
}

.order__itens-title--lg {
  display: none;
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
  margin-bottom: 64px;
}

.cart__items {
  width: 100%;
}

.cart__details {
  width: 100%;
  height: 100%;
  border: 1px solid #00000033;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 40px;
  background-color: #fff;
}

.cart-details__price {
  display: flex;
  justify-content: space-between;
}

.cart-details__price-un {
  margin-bottom: 0;
}

.cart-details__price-word {
  margin-right: 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #422f6b;
}

.cart-details__price-value {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #422f6b;
  font-weight: bold;
}

.cart-details__quantity {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #666666;
}

.cart-details__quantity-title {
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #666666;
  font-size: 13px;
}

.cart-details__quantity--md {
  display: none;
}

.cart-notes {
  margin-top: 24px;
}

.cart-notes label,
.cart-notes textarea {
  width: 100%;
}

.cart-notes label {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #422f6b;
}

.order-details {
  margin-top: 8px;
  padding: 8px;
  border-radius: 8px;
  background-color: #00000008;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.cart-product-card__complete-order {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  color: #fff;
  background-color: #422f6b;
  font-size: 14px;
  text-transform: uppercase;
}

.order-icon {
  margin-right: 4px;
}

.order-link {
  text-decoration: underline;
}

@media (min-width: 576px) {
  .cart__details {
    padding: 12px;
  }

  .cart-details__quantity--sm {
    display: none;
  }

  .cart-details__quantity--md {
    display: block;
  }
}

@media (min-width: 992px) {
  .customer__info {
    flex-direction: row;
  }

  .cart__details {
    padding: 16px;
    box-shadow: none;
  }

  .cart-details__price {
    justify-content: space-between;
  }

  .cart-notes {
    margin-top: 32px;
  }

  .customer-info__text:last-of-type {
    margin-bottom: 0;
  }
  
  .order__itens-title {
    display: none;
  }

  .order__itens-title--lg {
    display: block;
  }
}
