/* ---------- PRODUCT CARD ---------- */

.cart-product-card {
  display: flex;
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #00000033;
  border-radius: 8px;
  background-color: #fff;
}

.cart-product-card__image {
  min-width: 96px;
  min-height: 96px;
  margin-right: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.cart-product-card__info {
  width: 100%;
}

.cart-product-card__heading {
  display: flex;
  width: 100%;
  color: #422f6b;
  font-size: 16px;
}

.cart-product-card__name {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  width: 100%;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.cart-product__code {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  color: #666666;
  margin-bottom: 16px;
}

.cart-product-card__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__quantity-button {
  width: 24px;
  height: 24px;
  border-radius: 40px;
  font-size: 16px;
}

.product-card__quantity-selector input {
  margin: 0 6px;
  font-size: 14px;
}

/*---------- PREÇOS ----------*/

.cart-details__price-un {
  width: 100%;
  margin-bottom: -4px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #666666;
  text-align: right;
}

.cart-details__price-un--md {
  display: none;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #666666;
  font-size: 16px;
}

.cart-details__price-un--md-title {
  margin-bottom: 4px;
  font-size: 13px;
}

.cart-details__price-total-title {
  display: none;
  width: 100%;
  text-align: right;
  margin-bottom: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #422f6b;
}

.cart-details__price-total {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #422f6b;
  font-weight: bold;
  text-align: right;
}

@media (min-width: 576px) {
  .cart-product-card {
    padding: 12px;
  }

  .cart-details__price-un {
    display: none;
  }

  .cart-details__price-un--md {
    display: block;
  }

  .cart-details__price-total-title {
    display: block;
  }
}

@media (min-width: 992px) {
  .cart-product-card {
    padding: 16px;
  }

  /* .horizontal-divider {
    display: none;
  }

  .cart-product-card {
    flex-direction: row;
  } */
  /* .product-card:hover {
    box-shadow: 2px 2px 8px 0px #00000033;
  }
  .product-card__name {
    font-size: 16px;
  }

  .product-card__price {
    font-size: 18px;
  } */
}
